$fontFamily: "Poppins", sans-serif;
$primary-btncolor: linear-gradient(to right, #6400b8, #8d0096);
$primary-btncolor: #{$primary-btncolor};
$primary-btncolor-start: #6400b8;
$primary-btncolor-end: #8d0096;

