.DatePickerMain {
  .MuiGrid-container {
    width: 100% !important;
  }

  .MuiListItem-root:hover{
    cursor: pointer !important;
  }
}


.DatePickerView {
  .MuiGrid-container {
    display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;
  }
}
